// Monochrome
$color-white: #ffffff;
$color-alabaster: #FCFCFC;
$color-wild-sand: #F5F5F5;

// Colors
$color-ebony-clay: #223138;
$color-red: #e60000;
$color-mirage: #201C3A;

$color-text-primary: $color-mirage;