@import "../styles/index.scss";

.banner {
  background-image: url("./../assets/bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-position: 10% 60%;

  @include lg() {
    height: 300px;
  }

  &Title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: $color-text-primary;
    width: 200px;
  }
}
