@import "../styles/index.scss";

.button {
  width: 100%;
  padding: 16px;
  border: none;
  background-color: $color-brand-primary;
  color: $color-white;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover, &:active {
    background-color: lighten($color-brand-primary, 10%);
  }
}
