@import "../styles/index.scss";

.header {
  background-color: $color-ebony-clay;
  min-height: 64px;
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
  color: $color-white;

  &Text {
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
  }
  &Minicart {
    z-index: 1;
    height: 100%;
    display: flex;justify-content: center;
    align-items: center;
    &:hover {
      background-color: $color-white-20;
    }
  }
}
