@import "../styles/index.scss";

.productCard {
  background-color: $color-alabaster;
  border: 1px solid $color-wild-sand;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  &Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    &Icon {
      color: $color-hit-gray;
      cursor: pointer;
      width: 32px;
      height: 32px;
      &:hover {
        color: $color-brand-primary;
      }
    }
  }
  &Image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    &Wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &Title {
    color: $color-text-primary;
    margin: 0;
    font-weight: 400;
  }
  &Price {
    font-weight: 700;
  }
}
