@import "../styles/index.scss";

.tooltip {
  position: relative;
  &Trigger {
    cursor: pointer;
    background-color: transparent;
    color: currentColor;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
  }
  &Content {
    position: absolute;
    padding: 16px;
    border-radius: 5px;
    color: $color-black;
    background-color: $color-half-colonial-white;
    z-index: 1;
    animation: slideX 200ms;
    &Left {
      right: calc(100% + 10px);
    }
    &Right {
      left: calc(100% + 10px);
    }
    &Top {
      bottom: 0;
    }
    &Bottom {
      top: 0;
    }
  }
}
